@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --primary-collor:rgb(45, 176, 126);
    --primary-collor-darker:rgb(1, 6, 4);
}
* {
box-sizing:border-box;
outline: 0;
}
body{
    margin:0;
    padding:0;
    background: var(--primary-collor);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin:50px auto;
    background: #fff;
    padding: 20px;
    border-radius:10px;
    
}
form input, form label ,form button{
    display:block;
    width:100%;
    margin-bottom: 15px;
}
form input{
    font-size:24px;
    height:50px;
    padding:0 20px ;
}

form input:focus{
    outline: 1px solid var(--primary-collor);
}

form button{
    border:none;
    background:var(--primary-collor);
    color: #fff;
    font-size: 18px;
    font-weight:700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover{
    background: var(--primary-collor-darker);

}
.paragrafo-resultado  {
    background: rgb(51, 195, 35);
    padding:10px 20px ;

}
.bad{
    background:rgb(226, 93, 93);
    padding: 10px 20px;
}